# packaging
pip>=9
setuptools>=26
twine==3.4.2
wheel>=0.29

# data science
streamlit
numpy == 1.20
pandas
#scikit-learn
#seaborn
tensorflow

# tests/linter
black
coverage
flake8
pytest
yapf

API
fastapi
gcsfs
google-cloud-storage
s3fs
uvicorn

# utilities
#six>=1.14
#joblibG
memoized-property
#termcolor
matplotlib
#New packages for utils.py and data.py
#librga==0.8.1
#torch

#sndfile

#packages
pydub
sounddevice
wavio
librosa
PIL
joblib
shutil
#ffmpeg
#python-multipart

SoundFile

#sndfile
ffprobe==0.5
pathlib